<!--[if lt IE 9]>
    link( rel="stylesheet" href="styles/ie.css" )/
    script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )
    script.
        window.isLessThanIE9 = true;
<![endif]-->
