/* leny/flatland.be
 *
 * /src/stylus/settings/colors.styl - Colors palette
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

laborColor = black
linkColor = #08C
linkHoverColor = #069

codeColor = #d6ba01
designColor = #61a301
thingsColor = #58356f
contactColor = #8d8556
