/* leny/flatland.be
 *
 * /src/stylus/settings/fonts.styl - Fonts importing & stacks
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

font-face( "MavenPro", "../fonts/mavenpro/mavenpro-regular-webfont", normal, formats: local eot woff truetype svg )
font-face( "MavenPro", "../fonts/mavenpro/mavenpro-medium-webfont", 600, formats: local eot woff truetype svg )
font-face( "MavenPro", "../fonts/mavenpro/mavenpro-bold-webfont", 800, formats: local eot woff truetype svg )
MavenPro = "MavenPro", font-stack( "Helvetica" )
