/* leny/flatland.be
 *
 * /src/stylus/object/footer.styl - Cosmetic-free styles for footer
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.footer
    position relative
    z-index 90
    &__content
        position relative
        z-index 20
