/* leny/flatland.be
 *
 * /src/stylus/object/header.styl - Cosmetic-free styles for header
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.header
    fixed 0 0 auto
    size auto 7.5rem
    background transparent
    z-index 90
    &__title
        absolute .9rem auto auto 50%
        size 20rem 6rem
        margin 0
        z-index 120
        transform translateX( -50% )
    &__link
        display block
        text-decoration none
    &__logo
        size 20rem 6rem
    &__nav
        position relative
        size 100% 7.5rem
        margin 0 auto
        z-index 100
