/* leny/flatland.be
 *
 * /src/stylus/object/logo.styl - Cosmetic-free styles for logo
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.logo
    position relative
    &__name
        position relative
        size 20rem 6rem
        z-index 120
    &__star
        absolute 6.7rem auto auto 50%
        size 1.6rem
        z-index 105
        transform translate( -50%, -60% )
    &__radial
        absolute -22.5rem auto auto 50%
        size 60rem
        z-index 95
        opacity .05
        transform translateX( -50% )
        pointer-events none
