/* leny/flatland.be
 *
 * /src/stylus/object/nav.styl - Cosmetic-free styles for nav
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.nav
    &__title
    &__left
    &__right
        display none
