/* leny/flatland.be
 *
 * /src/stylus/object/section.styl - Cosmetic-free styles for section
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.section
    position relative
    width 100%
    margin 0 auto
    z-index 10
    &::before
    &::after
        content ""
        display block
        size 100% 7.5rem
    &__content
        position relative
        width 100%
    &__box
        position relative
        z-index 30
    &__title
        absolute -3.2rem auto auto
        size auto 3.2rem
        margin 0
        z-index 20
    &__quote
        position relative
        margin 0 0 0 4rem
        &::before
            content "“"
            display block
            absolute .5rem auto auto -2.4rem
    &__quote-languages
        display inline-block
        overflow hidden
        span
            display none
            &:first-child
                display inline-block
    &--code
    &--things
        .section__title
            right 2rem
    &--design
    &--contact
        .section__title
            left 2rem

+media-query( all, min-width 481px )
    .section
        &::before
        &::after
            content none
        &__content
            width 45rem
            margin 0 auto

+media-query( all, min-width 1025px )
    .section
        position relative
        size 100%
        overflow hidden
