/* leny/flatland.be
 *
 * /src/stylus/object/separator.styl - Cosmetic-free styles for separator
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.separator
    display block
    position relative
    size 100% 4rem
    margin 0
    z-index 40

+media-query( all, min-width 481px )
    .separator
        size 100% 6rem

+media-query( all, min-width 1025px )
    .separator
        size 100% 20rem
