/* leny/flatland.be
 *
 * /src/stylus/object/socials.styl - Cosmetic-free styles for socials links
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.socials
    margin 1.8rem auto .7rem
    &__list
        margin 0
        padding 0
    &__element
        display inline-block
        width 20%
    &__link
        display inline-block
    &__icon
        size 3.2rem auto

+media-query( all, min-width 1025px )
    .socials
        margin 2.4rem auto 1.4rem
        &__list
            width 80%
            margin 0 auto
        &__icon
            size 2.4rem auto
