section#code
    .content
        h2 Code
        .box
            p Je suis développeur web.
            p.
                Spécialisé dans le développement javascript (#[em mais pas que]),
                j'aime trouver des solutions performantes à des problèmes farfelus…
            p.
                …vous savez, quand vous ou l'un de vos développeurs se prend la tête dans les mains et hurle :
            blockquote
                p
                    | Foutu
                    = " "
                    strong.langages.
                        #[span %@$*!]
                        #[span javascript]
                        #[span jQuery]
                        #[span node.js]
                        #[span backbone]
                        #[span prototype]
                        #[span underscore]
                        #[span MySQL]
                        #[span Redis]
                        #[span SQLite]
                    = " "
                    | qui ne marche jamais !
            p.
                …ben c'est qu'il est grand temps de m'appeler.
