section.section#code
    .section__content
        .section__box
            h2.section__title Code
            p Je suis développeur back-end.
            p.
                Spécialisé dans le développement javascript (#[a( href="http://pierre-antoine.delnatte.be" rel="external" title="Voir le détail de mes compétences sur mon CV" ) mais pas que]),
                j'aime trouver des solutions performantes à des problèmes farfelus…
            p.
                …vous savez, quand vous ou l'un de vos développeurs se prend la tête dans les mains et hurle :
            blockquote
                p
                    | Foutu
                    = " "
                    strong.langages.
                        #[span %@$*!] #[span javascript] #[span jQuery] #[span node.js]
                        #[span react] #[span angular] #[span ember] #[span VueJS]
                        #[span SQLite] #[span PostgresQL] #[span MongoDB] #[span Redis]
                    = " "
                    | qui ne marche jamais !
            p.
                …ben c'est qu'il est grand temps de m'appeler.
