section.section.section--contact#contact
    .section__content
        h2.section__title Contact
        .section__box
            p.
                Vous avez un projet web ?#[br/]
                Besoin d'un avis technique externe,
                d'un coup de main pour la mise en place d'une équipe,
                ou d'un #[em JS Ninja] pour rejoindre votre troupe de choc le temps d'un #[em killer-project] ?

            p.
                Je suis indépendant et accepte toutes sortes de missions de courte et longue durée.

            p.
                Si vous voulez en savoir plus sur moi,
                vous pouvez consulter mon #[a( href="http://pierre-antoine.delnatte.be" rel="external" ) CV détaillé],
                ainsi que mes présences sur les réseaux sociaux, en bas de ce bloc.

            p.
                Et si vous voulez me parler, m'engager, me faire un p'tit coucou,
                vous pouvez me #[a.phone-link( href="tel:0032498323770" title="+32 (0) 498 32 37 70" ) téléphoner],
                ou m'#[a( href="mailto:info@flatland.be" ) envoyer un email].

            .socials
                ul.socials__list
                    li.socials__element
                        a.socials__link( rel="external" href="http://github.com/leny" title="github" )
                            include ../../svg/icons/github.svg
                    li.socials__element
                        a.socials__link( rel="external" href="http://www.facebook.com/pierreantoine.delnatte" title="facebook" )
                            include ../../svg/icons/facebook.svg
                    li.socials__element
                        a.socials__link( rel="external" href="https://twitter.com/leny_be" title="twitter" )
                            include ../../svg/icons/twitter.svg
                    li.socials__element
                        a.socials__link( rel="external" href="http://dribbble.com/leny" title="dribbble" )
                            include ../../svg/icons/dribbble.svg
                    li.socials__element
                        a.socials__link( rel="external" href="https://be.linkedin.com/in/padelnatte" title="linkedin" )
                            include ../../svg/icons/linkedin.svg
