section#contact
    .content
        h2 Contact
        .box
            p.
                Vous avez un projet web ?#[br/]
                Besoin d'un #[em JS Ninja] pour rejoindre votre équipe de choc le temps d'un #[em killer-project] ?

            p.
                Je suis indépendant et accepte toutes sortes de missions de courte et longue durée.

            p.
                Si vous voulez en savoir plus sur moi,
                vous pouvez consulter mon #[a( href="http://pierre-antoine.delnatte.be" rel="external" ) CV détaillé],
                ainsi que mes présences sur les réseaux sociaux, en bas de ce bloc.

            p.
                Et si vous voulez me parler, m'engager, me faire un p'tit coucou,
                vous pouvez me #[a#phone( href="tel:0032498323770" title="+32 (0) 498 32 37 70" ) téléphoner],
                ou m'#[a( href="mailto:info@flatland.be" ) envoyer un email].

            nav.socials
                ul
                    li
                        a( rel="external" href="http://github.com/leny" title="github" id="github" data-icon="g" )
                            span github
                    li
                        a( rel="external" href="http://www.facebook.com/pierreantoine.delnatte" title="facebook" id="facebook" data-icon="f" )
                            span facebook
                    li
                        a( rel="external" href="http://twitter.com/#!/leny_be" title="twitter" id="twitter" data-icon="t" )
                            span twitter
                    li
                        a( rel="external" href="http://dribbble.com/leny" title="dribbble" id="dribbble" data-icon="d" )
                            span dribbble
                    li
                        a( rel="external" href="http://www.linkedin.com/pub/pierre-antoine-delnatte/a/78a/777" title="linked'in" id="linkedin" data-icon="i" )
                            span linked'in
