section.section#design
    .section__content
        .section__box
            h2.section__title Design
            p.
                Je suis #[abbr( title="Avant, on disait &quot;intégrateur &amp; designer web&quot;" ) développeur front-end].
            p.
                Rompu à l'utilisation d'#[strong html5] et #[strong css3],
                je découpe et intègre tous les design possibles,
                dans une logique #[em mobile-first] et économe en ressources,
                le plus souvent en m'appuyant sur des #[em frameworks] tels que #[strong sass] ou #[strong stylus].
            p.
                Je manipule quotidiennement tout ces jolis #[em frameworks clients] "à la mode",
                comme #[strong react], #[strong angular] ou #[strong vueJS], quand je ne suis pas
                occupé à #[a( href="https://github.com/leny" ) contribuer] à leur code.
            p.
                Pourvu d'une solide formation d'infographiste et très sensible à l'ergonomie,
                je conçois des interfaces simples et claires pour toutes sortes d'outils ou applications.
