footer.footer
    .footer__content
        p
            small.
                © 2012-#{ ( new Date() ).getFullYear() } •
                #[a( href="https://github.com/leny/flatland.be" rel="external" ) Consulter les sources du site sur GitHub].
