header#main
    h1
        a( href="#intro" rel="internal" ) flatLand!
    span#star
    span#radial
    nav
        .left
            a#nav-code( href="#code" rel="internal" ) code
            a#nav-design( href="#design" rel="internal" ) design
        .right
            a#nav-things( href="#things" rel="internal" ) things
            a#nav-contact( href="#contact" rel="internal" ) contact
