section#intro
    .content
        .box
            p.
                #[strong flatLand!] conçoit et développe des sites &amp; applications accessibles et dynamiques en utilisant les dernières technologies web.
            p.
                Derrière flatLand!,
                il y a #[a( href="http://pierre-antoine.delnatte.be" rel="external" ) Pierre-Antoine Delnatte],
                développeur web freelance liégeois.
