section.section.section--intro#intro
    .section__content
        .section__box
            h2.section__title.hidden À propos de flatLand!
            p.
                #[strong flatLand!] conçoit et développe des sites &amp; applications accessibles et dynamiques en utilisant les dernières technologies web.
            p.
                Derrière flatLand!,
                il y a #[a( href="http://pierre-antoine.delnatte.be" rel="external" ) Pierre-Antoine Delnatte],
                développeur web full-stack de Liège, en Belgique.
