section#things
    .content
        h2 Things
        .box
            p.
                Je suis un couteau suisse (mais belge).
            p.
                Mes déambulations m'ont poussé à apprendre beaucoup de choses dans notre domaine.
            p.
                De l'installation de serveurs web à la configuration fine d'apache et nginx,
                en passant par l'utilisation des méthodes agiles,
                j'ai appris à m'intégrer dans des équipes, petites ou grandes, le temps d'un projet ou plus.
