section.section.section--things#things
    .section__content
        .section__box
            h2.section__title Things
            p.
                Je suis un couteau suisse (mais belge).
            p.
                Mes déambulations m'ont poussé à apprendre beaucoup de choses dans notre domaine.
            p.
                De l'installation de serveurs web à la configuration fine d'apache et nginx,
                en passant par l'utilisation des méthodes agiles,
                j'ai appris à m'intégrer dans des équipes, petites ou grandes, le temps d'un projet ou plus.
            p.
                #[strong Professeur invité] à la #[abbr( title="Haute École de la Province de Liège" ) HEPL],
                je me passionne pour la transmission du savoir et la vulgarisation technologique.
