/* leny/flatland.be
 *
 * /src/stylus/components/footer.styl - Design component for footer
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.footer
    &::before
        content ""
        display block
        absolute 0 0 auto
        size auto 1rem
        z-index 10
        background white
        box-shadow 0 0 1rem rgba( black, .5 )
    &__content
        padding .7rem 0 .35rem
        background white
        text-align center

+media-query( all, min-width 1025px )
    .footer
        &__content
            padding: 1.4rem 0 1rem
