/* leny/flatland.be
 *
 * /src/stylus/object/logo.styl - Design component for logo
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.logo
    &__radial
        opacity .05

+media-query( all, min-width 1025px )
    .logo
        &__radial
            opacity .1
        &__code
        &__design
        &__things
            font 800 1.4rem/1 MavenPro
            color laborColor
            text-transform uppercase
        &__things::after
            opacity 1
