/* leny/flatland.be
 *
 * /src/stylus/components/nav.styl - Design component for nav
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.nav
    background white
    box-shadow 0 0 1.5rem rgba( black, .33 )
