/* leny/flatland.be
 *
 * /src/stylus/components/section.styl - Design component for section
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

section-mobile-background( name )
    &::before
        background transparent url( s( "../images/%s-mobile.jpg", name ) ) top center no-repeat
    &::after
        background transparent url( s( "../images/%s-mobile.jpg", name ) ) bottom center no-repeat
    +retina-query( all, 1.3 )
        &::before
            background transparent url( s( "../images/%s-mobile@2x.jpg", name ) ) top center no-repeat
            background-size auto 15rem
        &::after
            background transparent url( s( "../images/%s-mobile@2x.jpg", name ) ) bottom center no-repeat
            background-size auto 15rem

section-tablet-background( name, retina = "" )
    background transparent url( s( "../images/%s-tablet%s.jpg", name, unquote( retina ) ) ) center no-repeat
    background-size cover

section-desktop-background( name )
    background transparent url( s( "../images/%s-big.jpg", name ) ) center no-repeat fixed
    background-size cover

section-details( name, mainColor )
    section-mobile-background( name )
    links( mainColor, darken( mainColor, 15% ) )
    .section__title
        background mainColor
    strong, em
        color mainColor
    abbr
        border-bottom-color mainColor
        &:hover
            border-bottom-color lighten( mainColor, 15% )

.section
    &::before
        background yellow // TODO: tmp
    &::after
        background blue // TODO: tmp
    &__box
        padding 1.4rem 1.4rem .7rem
        background white
        box-shadow 0 0 1rem rgba( black, .5 )
    &__title
        padding 0 1.4rem
        background gray
        box-shadow 0 0 1rem rgba( black, .5 )
        font 800 1.5rem/3.2rem MavenPro
        color white
        text-transform uppercase
    &__quote
        padding 1rem 0
        font normal 1.2rem/1 MavenPro
        color #888
        &::before
            font 800 4.2rem/1 MavenPro
            color #bbb
    &__quote-languages
        font-weight bold
        text-align center
        vertical-align bottom
    &--intro
        section-mobile-background( intro )
    &--code
        section-details( code, codeColor )
    &--design
        section-details( design, designColor )
    &--things
        section-details( things, thingsColor )
    &--contact
        section-details( contact, contactColor )

+media-query( all, min-width 481px )
    .section
        padding 10rem 0
        &--intro
            section-tablet-background( intro )
        &--code
            section-tablet-background( code )
            .section__content
                margin-right 5%
        &--design
            section-tablet-background( design )
            .section__content
                margin-left 5%
        &--things
            section-tablet-background( things )
            .section__content
                margin-right 3%
        &--contact
            section-tablet-background( contact )
            .section__content
                margin-left 5%
    +retina-query( all, 1.3 )
        .section
            &--intro
                section-tablet-background( intro, "@2X" )
            &--code
                section-tablet-background( code, "@2X" )
            &--design
                section-tablet-background( design, "@2X" )
            &--things
                section-tablet-background( things, "@2X" )
            &--contact
                section-tablet-background( contact, "@2X" )

+media-query( all, min-width 1025px )
    .section
        padding 0
        &__title
            padding 0 1rem 1rem
        &__box
            padding 2.1rem 2.1rem 1.4rem
        &--intro
            section-desktop-background( intro )
            .section__content
                absolute auto 10% 45% auto
        &--code
            section-desktop-background( code )
            .section__content
                absolute auto auto 40% 10%
            .section__title
                absolute 4rem -4.2rem auto auto
                transform rotate( -90deg )
        &--design
            section-desktop-background( design )
            .section__content
                absolute auto auto 35% 25%
            .section__title
                absolute 4rem auto auto -5rem
                transform rotate( -90deg )
        &--things
            section-desktop-background( things )
            .section__content
                absolute auto 10% 40% auto
            .section__title
                absolute 4rem -5rem auto auto
                transform rotate( -90deg )
        &--contact
            section-desktop-background( contact )
            .section__content
                absolute auto auto 25% 10%
            .section__title
                absolute 4rem auto auto -5.7rem
                transform rotate( -90deg )
