/* leny/flatland.be
 *
 * /src/stylus/components/separator.styl - Design component for separator
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

.separator
    background white
    border 0
    box-shadow 0 0 1rem rgba( black, .5 )
