/* leny/flatland.be
 *
 * /src/stylus/styles.styl - Main styles
 *
 * coded by leny@flatLand!
 * original styles in march 2013
 * rewriten with stylus/kouto-swiss in october 2016
 */

// 0. Imports
@import "kouto-swiss"

// 1. Settings - global variables
@import "settings/fonts"
@import "settings/colors"

// 2. Tools - mixins, functions & tools
@import "tools/utils"

// 3. Generic - reset
normalize()
box-sizing-reset()

// 4. Base - raw elements
@import "base/root"
@import "base/text"
@import "base/links"

// 5. Objects - cosmetic-free design patterns
@import "objects/logo"
@import "objects/splash"
@import "objects/header"
@import "objects/nav"
@import "objects/separator"
@import "objects/section"
@import "objects/socials"
@import "objects/footer"

// 6. Components - designed components
@import "components/logo"
@import "components/splash"
@import "components/header"
@import "components/nav"
@import "components/separator"
@import "components/section"
@import "components/socials"
@import "components/footer"

// 7. Trumps - helpers & overrides
@import "trumps/phone-link"
