/* leny/flatland.be
 *
 * /src/stylus/base/links.styl - Base styles for links
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

a
    color linkColor
    text-decoration none
    transition color .25s ease-in-out
    &:hover
    &:visited
    &:active
        color linkHoveredColor
