/* leny/flatland.be
 *
 * /src/stylus/base/root.styl - Styles for root elements
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

html
    size 100%
    background white
    font normal 62.5%/1.5 MavenPro
    color laborColor
    -webkit-font-smoothing antialiased
    -webkit-text-size-adjust 100%

body
    position relative
    size 100%
    margin 0 auto
    padding 7.5rem 0

+media-query( all, min-width 1025px )
    body
        padding 0
