/* leny/flatland.be
 *
 * /src/stylus/base/root.styl - Styles for root elements
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

html
    size 100%
    background white

body
    position relative
    size 100%
    margin 0 auto
    font normal 62.5%/1.5 MavenPro
    color laborColor
