/* leny/flatland.be
 *
 * /src/stylus/base/links.styl - Base styles for textual links
 *
 * coded by leny@flatLand!
 * started at 09/10/2016
 */

p
    strong
        font-weight bolder
    em
        font-weight bold
